/api_gateway/node_modules/
/api_gateway/.idea
/api_gateway/dist


/customer_management/node_modules/
/customer_management/.idea
/customer_management/dist


/product_management/node_modules/
/product_management/.idea
/product_management/dist

/order_management/node_modules/
/order_management/.idea
/order_management/dist


/invetory_management/node_modules/
/invetory_management/.idea
/invetory_management/dist


/payment_management/node_modules/
/payment_management/.idea
/payment_management/dist


/refund_management/node_modules/
/refund_management/.idea
/refund_management/dist

/supplier_management/node_modules/
/supplier_management/.idea
/supplier_management/dist
